
h3
{
  text-transform : uppercase;

}

h4
{
  width:100%;
  border-bottom: 1px solid gray;
}

p
{
  margin-left: 10px;
  text-align: justify;
} 

img.center
{
  display: block;
  margin: 0 auto;
}

div.legend
{
  color: gray;
  font-style: italic;
  text-align: center;
}

span.cite_source
{
  display: block;
  margin-right:2em;
  text-align: right;
  font-style: italic;
  color: gray;
}

div.aid
{
    padding: 0.2em;
    background-color: lightgray;
    padding-left: 10px;
    border: 1px dashed blacK;
}

span.view_aid:hover
{
  cursor:  pointer;
  text-decoration: underline;
}

span.view_aid:before
{
  content: " ";
}

span.view_aid
{
    font-style: italic;
    color: red;
}


